.tableMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 214, 214);
}



.tableHead {
    background-color: rgb(170, 247, 254);
}

